.page {
	height: 100vh;
	width: 100vw;
}

.page__body {
	margin: 0;
	position: relative;
	display: flex;
	min-width: var(--small-size);
	height: 100%;
	background-color: var(--primary-color);
	overflow: hidden;
	color: var(--primary-text-color);
	background-image: url("../../img/SuperToroid-Yellow-Glossy.png");
	background-position: 100% 100%;
	background-repeat: no-repeat;

	&::after,
	&::before {
		position: absolute;

		content: '';
		display: block;
		transform: translate(-50%, -50%);
		width: 25%;
		background: var(--main-gradient);
		border-radius: 50%;
		aspect-ratio: 1 / 1;
		filter: blur(14rem);
		z-index: -1;
	}

	&::before {
		top: 0;
		left: 0;
		width: 50%;
		transform: translate(-50%, -50%);
	}

	&::after {
		bottom: 0;
		right: 0;
		transform: translate(50%, 50%);
	}
}
