$bg-color: hsl(0, 0%, 100%);
$bg-paper-color: hsl(0, 0%, 96%);
$bg-window: hsla(0, 0%, 100%, 0.2);
$primary-color: hsl(199, 92%, 56%);
$primary-color-dark: hsl(199, 100%, 38%);
$primary-color-light: hsl(190, 100%, 73%);
$primary-border-color: hsla(190, 100%, 73%, 0.3);
$secondary-color: hsl(19, 92%, 56%);
$secondary-color-dark: hsl(18, 100%, 37%);
$secondary-color-light: hsl(24, 100%, 67%);
$primary-text-color: hsl(0, 0%, 0%);
$secondary-text-color: hsl(0, 0%, 100%);
$main-gradient: linear-gradient(to top left, $primary-color-light, $secondary-color-light);
$small-size: 375px;
$medium-size: 768px;
$large-size: 1068px;


